node_modules/
.DS_Store
session.json
config.json
config/karabiner/automatic_backups/
AWSVPNCLIENT
configstore
config/karabiner/assets/complex_modifications
config/mume
config/nvim/plugin/packer_compiled.lua

config/lazygit/state.yml